@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-image: linear-gradient(-20deg, #44396b 0%, #764c4c 100%);
}
.navbar{
  width: 100%;
  height: 10%;
  background-color: #6d2e2e;
  box-shadow: 0 5px 5px 0 #ba5757;
  display: block;
  position: fixed;
  top:0px;
  
  
}
.movielist{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 100px;

  
}
.movieCard{
  border-radius: 6px;
  background: rgb(197, 74, 74);
  margin: 1rem;
  widows: 350px;
  box-shadow: 0px 8px 20px 0px rgb(18, 7, 41) ;
  width: 400px;
  cursor: pointer;
}
.movieCard > img{
  width: 100%;
  height:400px;
  margin-top: -27px;
  margin-bottom: -20px;
}

 p {
  color:rgb(31, 4, 4);
  padding: 0.5rem;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.movieCard > h1 {
  color:rgb(225, 223, 234);
  padding: 0.5rem;
  background-color: rgba(16, 15, 15, 0.685);
  width: 385px;
  margin-top: 0px;
  border-radius: 6px;
  height: 50px;
  font-family: 'Lato', open-sans;
  font-size: 40px;
  
}
.blaka{
  background-color: #ba5757;
  opacity :0.9;
  width: 400px;
  height: 300px;
  margin-top: -280px;
  display: none;
  border-radius: 6px;
}
.movieCard:hover .blaka{
  display: block;
}
.etoile{
  font-size: 30px;
  margin-top: 50px;

}
#btn {
    padding: 40px;
    background: rgb(72, 0, 255);
    padding: 10px 50px;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    border: none;
    box-shadow: 10px 10px  rgba(rgb(10, 11, 10),7);
    cursor: pointer;
    font-size: 16px;
    transition: .3s ease-in;
    opacity: 1;
    margin-top: 7px;
    
}
.btn:hover {
  background: lighten(red, 5);
  cursor: pointer;}
  form{
    border-radius: 6px;
    background-color: #ba5757;
    font-size: 20px;
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  label{
    padding-top: 20px;
    margin-top: -15px;
  }
  input{
    font-size: 20px;
    margin-top: 10px;
  }
  .btn{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

  }
  .rating{
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
    font-size: 20px;
  }

    #btnnew{
   
      width: 200px;
      height: 72px;
      line-height: 40px;
      font-size: 18px;
      font-family: sans-serif;
      text-decoration: none;
      color: rgb(248, 245, 245);
      background-color: #ba5757;
      border: none;
      letter-spacing: 2px;
      text-align: center;
      display: block;
      transition: all .35s;
      top:0 ;
      position: fixed;
      cursor: pointer;
      border-bottom-right-radius:  50px;

    }
    .search{
      height: 50px;
      align-items: center;
      margin-left: 600px;
      background-color: #ba5757;
      padding-top: 0px;
      padding-bottom: -20px;
      width: 350px;
      
      
    }
    .Search1{
      margin-left: -300px;
      padding-top: -80px;
      color: rgb(248, 245, 245);
      font-family: sans-serif;
      line-height: 40px;
      font-size: 18px;
      
    }
    .Search2{
      margin-top: -45px;
      margin-left: 60px;
    }
    
  